
<!-- <section>
    <h1>{{message}}</h1>
</section>

<section>
    {{22/7 | number : '1.0-2' }}
    {{"paras" | uppercase }}
</section> 
<app-student></app-student> -->

<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-blue-ball-game></app-blue-ball-game> -->

<!-- <div>
    <app-parent></app-parent>
</div> -->

<!-- <div> 
    <app-parent-message></app-parent-message>
</div> -->

<!-- <div>
    <app-star-rating></app-star-rating>
</div> -->

<div class="container">
    <app-observable></app-observable>
</div>