.todo{
    width :700px ;
    height : 498px ;
    margin: 75px;
    margin-left: 475px;   
}

label{
    padding-right: 25px;
    color: #33ccff;
}

li{
    color: #70db70;
}

.line{
  text-decoration: line-through;
}

span[contenteditable="true"]{
  background-color: gray;
  padding : 3 ;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
  }
  
th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
th {
    background-color: #4CAF50;
    color: white;
  }

  input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: red;
  }

  #addBtn{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }