<div class="container">
    <app-star [rating]="3.5" (mouseover)="onMouseOverHandler()">

    </app-star>

    <table>
        <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
        </tr>
        <tr>
            <td><app-star [rating]="3.5" (mouseover)="onMouseOverHandler()">
            </app-star></td>
            <td><app-star [rating]="3.5" (mouseover)="onMouseOverHandler()">
            </app-star></td>
            <td><app-star [rating]="3.5" (mouseover)="onMouseOverHandler()">
            </app-star></td>
            <td><app-star [rating]="3.5" (mouseover)="onMouseOverHandler()">
            </app-star></td>
            <td><app-star [rating]="3.5" (mouseover)="onMouseOverHandler()">
            </app-star></td>
            <td><app-star [rating]="3.5" (mouseover)="onMouseOverHandler()">
            </app-star></td>
        </tr>
    </table>
    
</div>