<div class="container">

    <div class="container p-3 my-3 border">
        <h1>Home</h1>
    </div>

    <div>
        <p>
            Your homepage is an essential tool for your business and often serves as the first impression to potential customers. There are many important components of effective web design, like white space, font selection, color schemes, and layout, but the core of a website is its content, not its design. Within a matter of seconds, your homepage needs to introduce your product or service and entice visitors to explore your site further.
        </p>
    </div>
</div>