<html>

<head>
    <title>Loop</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">

<div>
    <h1>Integer Array</h1>
    <p ng-repeat="x in Age">{{x}}</p>
</div>

<div>
    <h1>String Array</h1>
    <p ng-repeat="x in names">{{x}}</p>
</div>

    <script>
        var app = angular.module('myApp', []) 
      
        app.controller("myCtrl",function($scope){
            $scope.Age = [
                21,22,23,24
            ]
            
            $scope.names = [
                "paras","shailesh","jayant","kaushik"
            ]
        });
    </script>
</body>
</html>
