<div class="container" id="productList">

    <div class="container" id="productList">
        <div class="card">
            <div class="card bg-primary text-white"> 
                <div class="card-header" class="card-body"> <h5> Product Details : {{product.productName}}  </h5> </div>
            </div>
            
            <div class="card-body">
                <p>Name : {{product.productName}} </p>
                <p>Code : {{product.productCode}} </p>
                <p>Description : {{product.description}}   </p>
                <p>Avalilable : {{product.releaseDate}} </p>
                <p>price : {{product.price}}  </p>
                <p>5 star rating :  </p> 
                <p><app-star [rating] = 'product.starRating'> </app-star> </p>
            </div>

            <div class="container">
                <img class="productImage" src="{{product.imageUrl}}" alt="Image Not Found">
            </div>
            
            <div class="card-footer"> 
                  <button class="btn btn-light" (click) ="backToPtoductList()"> <b>< Back </b></button>      
            </div>
        </div>
    </div> 
</div>





