<div class="container">

    <div class="container p-3 my-3 border">
        <h1>About</h1>
    </div>

    <div>
        <p>
            The main problem you see on the average ecommerce About Us page is that it’s totally dedicated to talking about the company. An About Us page that focuses on your ecommerce brand – what a crazy idea!

But consider this – an About Us page isn’t just about you or your company. It’s about why a customer should emotionally invest in your brand. It’s about why you’re the best person to solve your customer’s problem.

And in the world of ecommerce, that’s what you’re doing – building trust and providing a product that solves a customer’s problem.
        </p>
    </div>
</div>