<div class="container">
    <div class="card">
        <h5 class="card-header" style="color:whitesmoke; background-color: #3a7eb5;">Product List</h5>
        <div class="card-body">
            <div class="form-group row">
                <label for="filterProduct" style="margin-left: 2rem;">Filter By: </label>
                <input type="text" class="form-control border border-primary" id="filterProduct" ng-model="filterBy" style="margin-left: 5rem; width: 30rem; height: 2rem;">
            </div>
            <div>
                <table class="table table-hover text-center">
                    <thead>
                        <tr>
                            <th> <button class="btn btn-primary" ng-click='showAllImage();'>{{ productVM.btnValue }}</button> </th>
                            <th>Product</th>
                            <th>Code</th>
                            <th>Available</th>
                            <th>Price</th>
                            <th>5 Star Rating</th>  
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in productVM.products | filter : filterBy">
                            <td><img src="{{ product.imageUrl }}" alt="Image Not Found" ng-show='productVM.showImage' width="50px" height="auto"></td>
                            <td><a href="#/productdetails" ng-click="productTransfer(product.productId);">{{product.productName}}</a></td>
                            <td>{{product.productCode}}</td>
                            <td>{{product.releaseDate}}</td>
                            <td>${{product.price}}</td>
                            <td class="card-text text-center">
                                <div get-width row-height=  product.starRating style="overflow: hidden;">
                                    <div style="width: 70px;">
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                    </div>
                                </div>
                            </td>
                        </tr>   
                    </tbody>
                </table>
            </div> 
        </div>
    </div>
</div>