<div class="container">
<div *ngIf="showRules">

    <h1>Blue Ball game</h1>
    <hr>
    <h2>Rules => </h2>
    <p>
        1) Pick a ball from the list. <br>
        2) If selected ball turns red that means blue ball is after selected ball <br>
        3) If selected ball turns green that means blue ball is before it <br>
        4) Total attempts for this game is 4 <br>
        <button (click)='startGame();'> Play </button>
    </p>

</div> 

<div>
    <h3>Attempts : {{attempts}}</h3>
</div>

<div [id]='"balls"'>
    <div *ngFor="let b of balls">

        <button class="btn" 
            [id]='b.id' 
            [style.background-color]='b.currentColor' 
            [disabled]='b.disabled'
            (click)='checkGame(b.id);'> 
            {{b.id}}
        </button>
    
    </div>
</div>

<div *ngIf="showStatus">
    <h1 [innerHtml]='result'> </h1>
    <button (click) ="reloadPage()">Restart </button>
</div>
</div>