<div class="container">
<h1 [innerHtml] = "'Property Binding'" [style.color]="'red'" ></h1>

<h3>Student => </h3>
<table class="table table-striped">
    <tr>
        <td>Profile Photo</td>
        <td>Roll Number</td>
        <td>Name</td>
        <td>Cgpa</td>
    </tr>

    <tr>
        <td><img [src]= profilePhoto></td>
        <td>{{student.rollNumber}}</td>
        <td>{{student.name}}</td>
        <td>{{student.cgpa}}</td>
    </tr>

</table>

<button class="btn btn-primary" (click) = "loadAllStudents()">Load Student</button>

<table class="table table-striped" *ngIf="showTable">
    <tr>
        <td>Profile Photo</td>
        <td>Roll Number</td>
        <td>Name</td>
        <td>Cgpa</td>
    </tr>

    <tr *ngFor="let s of studentsList">
        <td><img [src]=profilePhoto></td>
        <td>{{s.rollNumber}}</td>
        <td>{{s.name}}</td>
        <td>{{s.cgpa}}</td>
    </tr>
</table>
</div>