#searchTextField{
    margin-left: 10px;
}

#searchButton{
    margin-left: 10px;
}

.ribbon {
    margin-top: -12rem;
    margin-right: 15rem;
    width: 15rem;
 }

 #addButton{
     float: right;
 }

 #next{
    float: right;
 }
 
 #pageNumber{
    margin-left:425px;
 }



  