<div>

    <div class="container">
        
        <div class="card">
          <div class="card-header bg-info text-white">Contact APP : 
              <label class="text-light">Contact List</label>
          </div>
          
        <div class="card-body">  
            <div>
                <table class="table table-striped"> 
                    <tr>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Status</th>
                        <th>Hang Up</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr> 
                    
                    <tr ng-repeat="contact in allContacts">
                        <td> <a href="#/contactDetails" ng-click="contactDetails(contact)"> {{contact.name}} </a> </td>
                        <td><a ng-click="initiateCall(contact.number)"> {{contact.number}} </a> </td>
                        <td><button ng-click="callStatus(contact.number)">Status </button>{{$scope.callDetails.status}}</td>
                        <td> <button ng-click="hangUpCall()">Reject </button> </td>
                        <td> <a href="#/updateForm" ng-click="editContactDetail(contact)" class="btn btn-warning">Edit</a> </td>
                        <td> <button type="button" class="btn btn-danger" ng-click="deleteContact(contact._id)" >Delete </button> </td>
                    </tr>
                </table>
                
                <button  type="button" class="btn btn-danger" ng-click="decrementPageNumber()" >Previous </button>
                    <label id="pageNumber" class="text-info">{{pageNumber}}</label>
                <button id="next" type="button" class="btn btn-danger" ng-click="incrementPageNumber()" >Next </button>
                
            </div>
          </div> 

          <div class="card-footer bg-info text-white">
            <button class="btn btn-light" ng-click="redirectToHome()" > < Back </button>
          </div>
        
        </div>
    
    </div>

</div>
