<div>

    <div class="container">
        
        <div class="card">
          <div class="card-header bg-info text-white">Contact APP : 
              <button class="btn btn-light" ng-click="getContact()">Get Contacts</button>
          </div>

          <div class="card-body">  
            <div>
                <table class="table table-striped"> 
                    <tr>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr> 
                    
                    <tr ng-repeat="contact in allContacts track by $index">
                        <td> <a href="#/contactDetails" ng-click="contactDetails(contact)"> {{contact.name}} </a> </td>
                        <td>{{contact.number}}</td>
                        <td> <a href="#/updateForm" ng-click="editContactDetail(contact)" class="btn btn-warning">Edit</a> </td>
                        <td> <button type="button" class="btn btn-danger" ng-click="deleteContact(contact._id)" >Delete </button> </td>
                    </tr>
                </table>
            </div>
          </div> 

          <div class="card-footer bg-info text-white">
            <button class="btn btn-light" ng-click="redirectToHome()" > < Back </button>
          </div>
        
        </div>
    
    </div>

</div>
