    <div class="container">
        <div class="card">
          <div class="card-header bg-info text-white">Contact APP : SearchContact </div>
          <div class="card-body">  

            <div>
                <form>
                    <label for="searchBy" required> Search by :  </label>
                    
                    <select id="searchValue" name="Search" ng-model="searchContactObj.selectedAttribute" required>
                      <option value="name">Name</option>
                      <option value="number">Number</option>
                    </select>
        
                    <input type="text" id="searchTextField"  placeholder="Search Here" ng-model="searchContactObj.searchValue" required>

                    <button type="submit" id="searchButton" class="btn btn-light" ng-click="searchContact()" > Search </button>
                </form>
            </div>

            <div>
              <label>Name : {{gotContact[0].name}} </label></br>
              <label>Number :  {{gotContact[0].number }} </label></br>
              <label>City : {{gotContact[0].city}} </label></br>
              <label>State : {{gotContact[0].state}} </label></br>
              <label>Zip : {{gotContact[0].zip }} </label></br> 
              <label>Address : {{gotContact[0].address }} </label></br>
              <img class="ribbon" ng-src="data:{{gotContact[0].image.contentType}};base64,{{ imgToString(gotContact[0].image.data.data) }}" 
                width="auto" style="float: right;" >
            </div>

          </div> 
          
          <div class="card-footer bg-info text-white">
            <button class="btn btn-light" ng-click="redirectToHome()" > < Back </button>
          </div>
        </div>
      </div>

