<div class="container">
    <div class="card">
      <div class="card-header bg-info text-white">contact APP : Edit contact </div>
      <div class="card-body">  

        <div class="container p-3 my-3 border bg-light">
            <form class="form-horizontal">

                <div class="form-row">
                  <div class="col-md-4 mb-3">
                    <label>Name</label>
                    <input class="form-control" ng-model="updatedContact.name" placeholder="{{contactToEdit.name}}"  >
                  </div>

                    <div class="col-md-4 mb-3">
                      <label for="validationCustom02">Number</label>
                      <input  class="form-control" ng-model="updatedContact.number"  placeholder="{{contactToEdit.number}}"  >
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2">Select Image :</label>
                    <div class="col-sm-10">
                        <input class="form-control" file-model="updatedContact.file"  name="image" type="file" accept="image/*" /> 
                    </div>
                </div>
                 
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputCity">City</label>
                      <input type="text" ng-model="updatedContact.city" class="form-control" placeholder="{{contactToEdit.city}}">
                    </div>

                    <div class="form-group col-md-4">
                      <label for="inputState">State</label>
                      <select class="form-control" ng-model="updatedContact.state">
                        <option disabled selected>{{contactToEdit.state}}</option>           
                        <option ng-repeat="state in states" >{{ state }}</option>
                      </select>
                    </div>
                    
                    <div class="form-group col-md-2">
                      <label>Zip</label>
                      <input type="text" class="form-control" ng-model="updatedContact.zip" placeholder="{{contactToEdit.zip}}">
                    </div>
                </div>

                <div class="form-group" ng-repeat="address in contactToEdit.address track by $index">
                  <div class="form-row"> 
                    
                    <div class="form-group col-md-6">
                      <label>Address </label> 
                      <input type="text" class="form-control" ng-model="updatedContact.address[$index]"  placeholder="{{contactToEdit.address[$index]}}">
                    </div>
                    
                  </div>
                </div>

                <div class="form-group">        
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit"  class="btn btn-success" ng-click="updateContact()">Submit</button>
                    </div>
                </div>
            </form>        

        </div>
      </div> 
      
      <div class="card-footer bg-info text-white">
        <button class="btn btn-light" ng-click="redirectToHome()" >< Back </button>
      </div>
    </div>
</div>

