<!DOCTYPE html>

<head>
    <title>ECMA App</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28//angular-route.min.js"></script>

    <style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    #searchBox{
        margin-left: 50px;
    }
    </style>
</head>

<body ng-app="cntrl">    

    <div class="container" id="Product List">
        <div class="card">
            <div class="card bg-primary text-white"> 
                <div class="card-header" class="card-body">Product List</div>
            </div>
            
            <div class="card-body"> 
                Filter by  <input type="text" ng-model="search" placeholder="Search" id="searchBox"> 
                <table class="table">
                    <tr>
                        <th><button class="btn btn-primary">Show Image</button></th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 star Rating</th>
                    </tr>

                    <tr ng-repeat="p in Product | filter : search">
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </table>
            </div> 
        </div>
    </div>
    
    <div ng-view> </div>

</body>
</html>