<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="studentsTable.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="sapi.js"> </script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
    
    <button ng-click="getData()">Display Students</button>
    <button ng-click="addData()">Add Students</button>
    <hr>

	<form ng-show="addForm">
		<label>Roll Number : </label>
		<input type="text" ng-model="rollNumber"><br>
		
		<label>Name : </label>
		<input type="text" ng-model="name"><br>

		<label>Age : </label>
		<input type="text" ng-model="age"><br>
		
		<label>Email : </label>
		<input type="text" ng-model="email"><br>

		<label>Date : </label>
		<input type="text" ng-model="date"><br>

		<label>Gender : </label>
		<input type="radio" ng-model="gender"  value="male"> Male
		<input type="radio" ng-model="gender"  value="female"> Female<br>

        <input type="submit" id="submit" value="Submit" ng-click="addData()"/>
	</form>


	<form ng-show="updateForm">
		<label>Roll Number : </label>
		<input type="text" ng-model="updateRollNumber"><br>
		
		<label>Name : </label>
		<input type="text" ng-model="updateName"><br>

		<label>Age : </label>
		<input type="text" ng-model="updateAge"><br>
		
		<label>Email : </label>
		<input type="text" ng-model="updateEmail"><br>

		<label>Date : </label>
		<input type="text" ng-model="updateDate"><br>

		<label>Gender : </label>
		<input type="radio" ng-model="updateGender"  value="male"> Male
		<input type="radio" ng-model="updateGender"  value="female"> Female<br>

        <input type="submit" id="submit" value="Submit" ng-click="updateHttpRequest()"/>
	</form>


    <table > 
		<tr>  
			<th>Id</th>
			<th>Roll Number</th>
			<th>Name</th>
			<th>Age</th>
			<th>Email</th>
			<th>Date</th>
			<th>Gender</th>
			<th>Update</th>
			<th>Delete</th>
        </tr> 
        
        <tr ng-repeat="s in students">
            
            <th>{{s.id}}</th>
			<th>{{s.rollno}}</th>
			<th>{{s.name}}</th>
			<th>{{s.age}}</th>
			<th>{{s.email}}</th>
			<th>{{s.date}}</th>
			<th>{{s.gender}}</th>
			<th><button ng-click="updateData(s.id)"> Update </button></th>
			<th><button ng-click="deleteData(s.id)"> Delete </button></th>

        </tr>
	</table>


</div>

</body>
</html>

