#searchTextField{
    margin-left: 10px;
}

#searchButton{
    margin-left: 10px;
}

.ribbon {
    margin-top: -15rem;
    margin-right: 15rem;
    width: 15rem;
 }

    /* margin-top: -12rem;
    margin-right: 30rem;
    width: 15rem; */