    <div class="container">
        <div class="card">
          <div class="card-header bg-info text-white">Contact APP : SearchContact </div>
          <div class="card-body">  

            <div>
                <form>
                    <label for="searchBy" required> Search by :  </label>
                    
                    <select id="searchValue" name="Search" ng-model="searchContactObj.selectedAttribute" required>
                      <option value="name">Name</option>
                      <option value="number">Number</option>
                    </select>
        
                    <input type="text" id="searchTextField"  placeholder="Search Here" ng-model="searchContactObj.searchValue" required>

                    <button type="submit" id="searchButton" class="btn btn-light" ng-click="searchContact()" > Search </button>
                </form>
            </div>

            <div>
                <label>Name : {{gotContact.name}}</label></br>
                <label>Number :  {{gotContact.number }} </label></br>
                <label>PinCode : {{gotContact.pinCode }} </label></br>
                <label>State : {{gotContact.address.state }} </label></br>
                <label>City : {{gotContact.address.city }} </label></br>
                <label>Room Number : {{gotContact.address.roomNumber }} </label></br>
                <label>Building Name : {{gotContact.address.buildingName }} </label></br>
                <label>Street : {{gotContact.address.street }} </label></br>
                <img class="ribbon" ng-src="data:{{gotContact.image.contentType}};base64,{{ imgToString(gotContact.image.data.data) }}" 
                  width="auto" style="float: right;" alt="Contact Image" >
            </div>

          </div> 
          
          <div class="card-footer bg-info text-white">
            <button class="btn btn-light" ng-click="redirectToHome()" > < Back </button>
          </div>
        </div>
      </div>

