<div class="container">
    <div class="card">
      <div class="card-header bg-info text-white">Contact APP : Edit Contact </div>
      
      <div class="card-body">  
        
        <div class="container p-3 my-3 border bg-light">
        
          <form class="form-horizontal">
                
              <div class="form-group">
                  <label class="control-label col-sm-2">Name : </label>
                  <div class="col-sm-10">
                      <input name="firstName" class="form-control" ng-model="updatedContact.name" placeholder="{{contactToEdit.name}}"  >
                  </div>
              </div>
              
              <div class="form-group">
                  <label class="control-label col-sm-2">Number :</label>
                  <div class="col-sm-10">
                      <input class="form-control" name="number" ng-model="updatedContact.number" placeholder="{{contactToEdit.number}}"  >          
                  </div>
              </div>
              
              <div class="form-group">
                  <label class="control-label col-sm-2">Select Image :</label>
                  <div class="col-sm-10">
                      <!-- <input type="file" file-model="contact.file"  class="form-control-file" id="exampleFormControlFile1" /> -->
                      <input type="file" file-model="updatedContact.file" class="form-control" name="image" accept="image/*" > 
                              
                  </div>
              </div>
              
              <div class="form-group">
                  <label class="control-label col-sm-2">PinCode :</label>
                  <div class="col-sm-10">
                      <input class="form-control" name="pinCode" ng-model="updatedContact.pinCode" placeholder="{{contactToEdit.pinCode}}">          
                  </div>
              </div>
              
              <div class="form-group">
                  <label class="control-label col-sm-2">State :</label>
                  <div class="col-sm-10">
                      <select class="form-control" name="state" ng-model="updatedContact.address.state" ng-options="x for x in states"> </select>         
                  </div>
              </div>

              <div class="form-group">
                  <label class="control-label col-sm-2">City :</label>
                  <div class="col-sm-10">
                      <input class="form-control" name="city" ng-model="updatedContact.address.city" placeholder="{{contactToEdit.address.city}}"   >          
                  </div>
              </div>

              <div class="form-group">
                  <label class="control-label col-sm-2">Room number :</label>
                  <div class="col-sm-10">
                      <input class="form-control" name="roomNumber" ng-model="updatedContact.address.roomNumber" placeholder="{{contactToEdit.address.roomNumber}}"   >          
                  </div>
              </div>
          
              <div class="form-group">
                  <label class="control-label col-sm-2">Building Name :</label>
                  <div class="col-sm-10">
                      <input class="form-control" name="buildingName" ng-model="updatedContact.address.buildingName" placeholder="{{contactToEdit.address.buildingName}}"   >          
                  </div>
              </div>
              
              <div class="form-group">
                  <label class="control-label col-sm-2">Street :</label>
                  <div class="col-sm-10">
                      <input class="form-control" name="street" ng-model="updatedContact.address.street" placeholder="{{contactToEdit.address.street}}">          
                  </div>
              </div>

              <div class="form-group">        
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit"  class="btn btn-success" ng-click="updateContact()">Submit</button>
                  </div>
              </div>
          </form>                
      </div> 
      
      <div class="card-footer bg-info text-white"></div>
    </div>
</div>

