<div class="container" id="productList">
    <div class="card">
        <div class="card bg-primary text-white"> 
            <div class="card-header" class="card-body"> <h5> Product List </h5> </div>
        </div>

        <div class="card-body"> 
            
            Filter By :  <input type="text" id="filterProduct" placeholder="search here" (input)="searchProduct();" [(ngModel)]="searchValue" >

            <table class="table">
                <thead>
                    <th><button class="btn btn-primary" (click)='changeButtonImage()'  [innerHtml]="ImageButtonvalue"></button></th>
                    <th>Product</th>
                    <th>Code</th>
                    <th>Avalilable</th>
                    <th>Price</th>
                    <th>5 star rating</th>
                </thead>
                
                <tbody>

                <tr *ngFor="let product of products" >
                    <td><img [src]="product.imageUrl" [hidden]='showImage'></td>
                    <td><a class="nav-link" [routerLink]="['/productDetails']" [state] = product> {{product.productName}} </a></td>
                    <td>{{product.productCode}}</td>
                    <td>{{product.releaseDate}}</td>    
                    <td>{{product.price}}</td>
                    <td> <app-star [rating]='product.starRating'> </app-star> </td>    
                </tr>
                
                </tbody>
            </table>
        </div> 
    </div>
</div>