<html>

<head>
    <title>Slider</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src = "C:\swabhav\JavaScript\jquery.min.js"> </script>
</head>

<body ng-app='slider'>
    
    <div ng-controller='silderController'>
        <p>slider(choose from 1 to 50):</p>
        <input type="range" min="1" max="50" ng-model='sliderValue'>
        <p>Value: <span ng-bind='sliderValue'>{{sliderValue}}</span></p>
        <button ng-repeat="i in createButtons(sliderValue)">{{i}}</button>
    </div>

    <script>
        var sliderApp = angular.module('slider', []);
        sliderApp.controller('silderController', function($scope)
        {
            $scope.sliderValue;
        
            $scope.createButtons = function(sliderValue) {
            var input = []; 
                for (var i = 0; i < sliderValue; i += 1) { 
                    input.push(i); 
                } 
            return input;
        }
});

    </script>

</body>



